* {
  box-sizing: border-box;
}

.container {
  text-align: center;
}
.artist-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background: grey;
  height: 300px;
  width: 300px;
}
a {
  text-decoration: none;
}
