.h6-italic {
  font-style: italic;
}
.h6-italic span {
  font-style: normal;
}
.small-img {
  width: 300px;
}

.box {
  margin: auto;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background: sienna;
}
.card {
  padding: 20px;
  background: white;
  width: 30%;
  align-content: center;
}

.card.indie {
  height: fit-content;
  margin-top: 275px;
  padding: 30px;
}
.card.indie h6 {
  color: grey;
}
.btn-route-change {
  margin-top: 10px;
  color: black;
  border: none;
  text-align: center;
  background: none;
}
.small-img {
  width: 300px;
  height: 200px;
}
@media (max-width: 900px) {
  .card {
    width: 40%;
  }
  .card.indie {
    height: fit-content;
    margin-top: 275px;
    padding: 20px;
  }
  .btn-route-change {
    margin-top: -5px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 80%;
  }
  .card.indie {
    height: fit-content;
    margin-top: 275px;
    padding: 20px;
  }
  .btn-route-change {
    margin-top: -5px;
  }
}
