.h6-italic {
  font-style: italic;
}
.h6-italic span {
  font-style: normal;
}

.card {
  background: black;
  padding: 30px 20px 20px 30px;
}

.card.indie {
  height: fit-content;
  margin-top: 80px;
  padding: 30px;
  width: 50%;
  max-width: 500px;
  padding-right: 20px;
}
.card.indie h6 {
  color: white;
}
.btn-route-change {
  color: white;
  border: none;
  text-align: center;
  background: none;
}
.small-img {
  width: 100%;
  padding-right: 10px;
}
.card.indie img.small-img {
  width: 100%;
}
@media (max-width: 900px) {
  .btn-route-change {
    margin-top: -5px;
  }
  .card.indie {
    width: 50%;
  }
}
/* //////// media queries /////////// */

@media (max-width: 800px) {
  .card.indie {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .card.indie {
    width: 90%;
  }
}
