.h6-italic {
  font-style: italic;
}
.h6-italic span {
  font-style: normal;
}

.card {
  background: snow;
  padding: 30px 20px 20px 30px;
}

.card.indie {
  margin-top: 80px;
  padding: 30px;
  width: 50%;
  max-width: 400px;
  overflow-y: auto;
  height: fit-content;
  max-height: 90%;
}
.card.indie h6 {
  color: black;
}
.btn-route-change {
  color: black;
  border: none;
  text-align: center;
  background: none;
}
.small-img {
  width: 100%;
  padding-right: 10px;
}
.card.indie img.small-img {
  width: 100%;
}
.card.indie-wrapper {
  padding: 0;
}

/* //////// media queries /////////// */

@media (max-width: 900px) {
  .btn-route-change {
    margin-top: -5px;
  }
  .card.indie {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .card.indie {
    max-height: 85%;
    width: 80%;
    overflow: hidden;
  }
  .card.indie-wrapper {
    overflow-y: auto;
    height: 100px;
    margin-top: 10px;
    max-height: max-content;
  }
}
@media (max-width: 450px) and (max-height: 700px) {
  .card.indie {
    margin-top: 80px;
  }
  .card.indie-wrapper {
    max-height: inherit;
    height: 200px;
  }
}
@media (max-width: 450px) and (min-height: 701px) {
  .card.indie {
    margin-top: 80px;
    height: fit-content;
  }
  .card.indie-wrapper {
    height: revert;
    max-height: 200px;
  }
}
