.frontis {
  width: 100vw;
  height: 100vh;
  background: white;
  padding-top: 50px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.type h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.03em solid black;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

  /*/////////cynthia's addition for styling/////////////*/

  color: black;
  font-family: itc-american-typewriter, serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 70px;
  text-align: center;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

/* //////// media queries /////////// */

@media (max-width: 1300px) {
  .type h1 {
    font-size: 62px;
  }
  .frontis {
    padding-left: 25px;
    padding-top: 0;
  }
}

@media (max-width: 1000px) {
  .frontis {
    padding-left: 150px;
    padding-right: 150px;
  }
  .type h1 {
    border-right: 0em solid white;
    white-space: normal;
  }
}

@media (max-width: 600px) {
  .frontis {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 450px) {
  .frontis {
    padding-left: 50px;
    padding-right: 50px;
  }
}
