.frontis {
  width: 100vw;
  height: 100vh;
  background: black;
  padding-top: 50px;
  padding-left: 250px;
  display: flex;
  align-items: center;
}
.type h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: 0.15em solid orange;  */
  /* The typwriter cursor */
  /* white-space: nowrap; */
  /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;

  /*/////////cynthia's addition for styling/////////////*/

  color: white;
  font-family: itc-american-typewriter, serif;
  font-weight: 300;
  letter-spacing: 1px;
  font-size: 120px;
  text-align: left;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

@media (max-width: 900px) {
  .frontis {
    padding-left: 100px;
  }
}

@media (max-width: 700px) {
  .frontis {
    padding-left: 50px;
  }
}

@media (max-width: 600px) {
  .type h1 {
    font-size: 85px;
  }
  .frontis {
    padding-left: 50px;
  }
}

@media (max-width: 450px) {
  .type h1 {
    font-size: 65px;
  }
  .frontis {
    padding-left: 30px;
    padding-right: 0;
  }
}

@media (max-width: 300px) {
  .type h1 {
    font-size: 55px;
  }
  .frontis {
    padding-left: 30px;
    padding-right: 0;
  }
}
