.intro {
  background: white;
  width: 500px;
  padding: 30px;
  color: black;
  position: absolute;
  z-index: 40;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -45%);
  visibility: hidden;
}
.intro.open {
  visibility: visible;
}
.intro h3 {
  font-size: 40px;
}
.intro.open h5 {
  margin-bottom: 5px;
}
.intro.open p {
  margin: 0;
}
.btn-navbar {
  font-family: itc-american-typewriter, serif;
  font-weight: 500;
  font-style: normal;
  background: black;
  color: white;
  border: none;
  font-size: 20px;
  width: 30px;
  height: 30px;
}
.navbar {
  position: absolute;
  max-width: 1100px;
}

@media (max-width: 600px) {
  .intro {
    width: 100%;
    transform: translate(-50%, -32%);
  }
}
