.search {
  overflow-y: auto;
  margin-top: 330px;
  margin-bottom: 50px;
  width: 80%;
  max-width: 1200px;
}
.search-word {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -70%);
  background: black;
  padding: 20px;
  margin: auto;
  width: 200px;
  height: 160px;
  color: white;
}

.search-word.no-results {
  padding-top: 60px;
}
input {
  text-align: center;
  width: 100%;
}
input:focus {
  outline: none;
}

.search-word-input {
  font-size: 40px;
  font-weight: 300;
  line-height: 1;
  color: white;
}
.search-word-input input {
  font-family: itc-american-typewriter, serif;
}
.btn-home {
  margin-top: 15px;
  background: white;
  color: black;
  border: none;
}

/* //////// media queries /////////// */

@media (max-width: 450px) {
  .search {
    margin-top: 250px;
  }
  .search-word {
    top: 175px;
  }
}
