.h6-italic {
  font-style: italic;
}
.h6-italic span {
  font-style: normal;
}

.card {
  background: black;
}

.card.indie {
  height: fit-content;
  margin-top: 155px;
  padding: 30px;
  width: 50%;
}

.btn-route-change {
  margin-top: 10px;
  color: black;
  border: none;
  text-align: center;
  background: none;
}
.small-img {
  width: 100%;
  padding-right: 10px;
}
.card.indie img.small-img {
  width: 100%;
}
@media (max-width: 900px) {
  .card {
    width: 40%;
  }
  .card.indie {
    height: fit-content;
    margin-top: 275px;
    padding: 20px;
  }
  .btn-route-change {
    margin-top: -5px;
  }
}

@media (max-width: 600px) {
  .card {
    width: 80%;
  }
  .card.indie {
    height: fit-content;
    margin-top: 275px;
    padding: 20px;
  }
  .btn-route-change {
    margin-top: -5px;
  }
}
